<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/CSS/login.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/login.css">
    <title>Authenication</title>
    <style>
        #errorFromBackend {
            color: red;
            background-color: white;
        }
    </style>
</head>

<body>
    <div class="image-bg">
        <img src="images/nith_img.jpg" alt="">
    </div>
    <div class="Signup_Form">
        <form action="/login" method="POST" id="login" class="animate">
            <div id="errorFromBackend">
                <%= error %>
            </div>
            <h1>SIGN IN</h1>
            <input type="text" id="email" name="roll_number" placeholder="Roll Number*" required />
            <input type="password" id="passcode" name="password" placeholder="Password*" required />
            <button class="content-button status-button" type="submit">SignIn</button>
            <section>
                <span><a href="#">Forgot Password?</a></span>
                <span><a onclick="Signupform()">Don't have an account?</a></span>
            </section>
        </form>

        <form action="/register" method="POST" id="signup" class="animate" onsubmit="return validateForm()" hidden>
            <h1>SIGN UP</h1>
            <input type="text" id="username" name="name" placeholder="Full name*" required />
            <input type="text" id="roll_number" name="roll_number" placeholder="Roll Number*" required />
            <input type="email" id="emailaddress" name="email" placeholder="Institute Id*" required />
            <select name="branch" id="course" required>
                <option value="" selected disabled>Branch</option>
                <option value="Architecture">Architecture</option>
                <option value="Computer Science and Engineering">Computer Science and Engineering</option>
                <option value="Civil Engineering">Civil Engineering</option>
                <option value="Chemical Engineering">Chemical Engineering</option>
                <option value="Electronics & Communication Engineering">Electronics & Communication Engineering</option>
                <option value="Electrial Engineering">Electrial Engineering</option>
                <option value="Mechanical Engineering">Mechanical Engineering</option>
                <option value="Material Science and Engineering">Material Science and Engineering</option>
                <option value="Mathematics and Scientific Computing">Mathematics and Scientific Computing</option>
                <option value="Engineering Physics">Engineering Physics</option>
            </select>
            <!-- <input type="text" id="course" name="branch" placeholder="Branch" required /> -->
            <!-- <input type="tel" id="mob" name="mob" placeholder="Contact no*" required /> -->
            <input type="password" id="password" name="password" placeholder="Password*" required />
            <input type="password" id="Cpassword" name="Cpassword" placeholder="Confirm Password*"
                onkeypress="Validate()" required />
            <select name="year" id="year" required>
                <option value="" disabled selected> Current Year of Study*</option>
                <option value="1">1st</option>
                <option value="2">2nd</option>
                <option value="3">3rd</option>
                <option value="4">4th</option>
                <option value="5">5th</option>
            </select>
            <!-- <input type="number" id="year" name="year" placeholder="Year*" required /> -->
            <select name="programme" id="programme" required>
                <option value="" selected disabled>Programme</option>
                <option value="B.Tech">B.Tech</option>
                <option value="B.Arch">B.Arch</option>
                <option value="B.Tech+M.Tech(Dual Degree)">B.Tech+M.Tech(Dual Degree)</option>
            </select>
            <!-- <input type="text" name="programme" id="programme" placeholder="Programme*" required> -->
            <button type="submit" value="SignUp" class="content-button status-button"
                onclick="ValidateSubmission()">Sign Up</button>
            <section>
                <span><a onclick="Loginform()">Already Registered?</a></span>
            </section>
        </form>
    </div>
    <div id="popup"></div>
    <script src="JS/login.js"></script>
</body>

</html>