<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/base.css">
</head>
<body>
    <form action="/register" method="post">
        Name: <input type="text" name="name" >
        Roll_Number: <input type="text" name="roll_number">
        Institute_Id: <input type="email" name="email">
        Course: <input type="text" name="course " id="">
        Password: <input type="password" name="password">
        Year: <input type="number" name="year">
        Programme: <input type="text" name="programme">
        <button type="submit">Submit</button>
    </form>
    <a href="/register">If not registered click here!</a>
</body>
</html>