.main-container{
    position: relative;
    background-color: rgba(16 18 27 / 40%) !important;
    overflow-y: auto;
}
.main-header:first-child {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: rgb(32 34 42);
}
.heading, .data{
    display: inline-block;
    color: #f9fafb;
    width: 16%;
    /* border-bottom: 1px solid #f9fafb; */
    text-align: center;
}
.datarow:nth-child(even){
    background-color:  rgba(16 18 27 / 60%);
}

.datarow:hover {
    background-color: rgba(16 18 27 / 90%);
}

.datarow:hover button{
    transform: scale(1.1);
}

.searchbar form input, form select{
    width: 400px;
    border: #f9fafb solid 1px;
    background-color: transparent;
    background-color: rgba(16 18 27 / 40%);
    color: #f9fafb;
}

select option {
    background-color: rgba(16 18 27 / 70%);
}
.filter{
    display: flex;
    flex-direction: row;
    margin: 8px;
    color: #f9fafb
}
.filter select{
    margin: 5px;
}
.filter button{
    margin: 8px;
}
.filter p{
    /* font-size: ; */
    margin-right: 3px;
    margin-left: 8px;
}